.adminNav
  %ul.adminNav__list
    %li
      = link_to "#", class: "listItem" do
        Home
        %i.fas.fa-angle-right
    %li
      =link_to new_admin_product_path, class: "listItem" do
        出品する
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        受注リスト
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        販売一覧
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        お客様情報一覧
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        お問い合わせBOX
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        Blog投稿
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        Blog一覧
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        info投稿
        %i.fas.fa-angle-right
    %li
      =link_to "#", class: "listItem" do
        info一覧
        %i.fas.fa-angle-right
    %li
      =link_to destroy_user_session_path, method: :delete, class: "listItem" do
        ログアウト
        %i.fas.fa-angle-right