.titleBox {
  text-align: center;
  padding-top: 150px;
  width: 750px;
  margin: 0px auto 30px;
}

.mypage {
  display: flex;
  width: 760px;
  min-height: 500px;
  margin: 0px auto;
  .mypageContent__list{
    padding-bottom: 30px;
    .listDetail {
      text-decoration: underline;
    }
    p {
      font-size: 13px;
    }
  }
}
