@import "reset";
@import "mixin/mixin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/footer";
@import "products/index";
@import "users/sessions";
@import "users/registations";
@import "delivery_addresses/new";



body {
  background-color: #FFFAF0;
}

a {
  text-decoration: none;
}

a :hover {
  opacity: 0.5;
}

li :hover {
  opacity: 0.5;
}

