@import "reset";
@import "mixin/mixin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/footer";
@import "products/index";
@import "users/sessions";
@import "users/registations/new.scss";
@import "users/passwords";
@import "delivery_addresses/new";
@import "users/registations/detail.scss";
@import "modules/sidebar";
@import "users/registations/edit.scss";
@import "users/registations/logout.scss";
@import "users/registations/delivery_address.scss";
@import "delivery_addresses/edit";
@import "modules/adminSidebar";
@import "users/registations/admin";
@import "admin/product/new.scss";


body {
  background-color: #FFFAF0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

a :hover {
  opacity: 0.5;
}

li :hover {
  opacity: 0.5;
}

#error_explanation {
  color: #FF3333;
  padding: 0px 100px 30px;
  border-bottom: solid 1px 	#CCCCCC;
  margin-bottom: 50px;
}