= render "modules/header"

%image

%info
  .new-info
    %h3 INFO
    %ul
      %li 2020.09.04	台風9号、10号による集配への影響について。
      %li 2020.08.06	夏季休業のお知らせ。
      %li 2020.05.02	ゴールデンウィーク期間中の配送、お問い合わせに関して。

%main
  %h2.main-title
    %span == NEW ARRIVAL ==
  .item-new
    .item-new__first
      画像
      %p 商品名
      %p 値段
    %ul.item-new__arrival
      %li
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
      %li.break
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
  .all-more
    = link_to "ALL ITEM", "#", class: "all-more__btn"

  %h2.main-title
    %span == STOCK ITEMS ==
  .item-new
    .item-new__first
      画像
      %p 商品名
      %p 値段
    %ul.item-new__arrival
      %li
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
      %li.break
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
      %li
        画像
        %p 商品名
        %p 値段
  .all-more
    = link_to "MORE", "#", class: "all-more__btn"

= render "modules/footer"

.Inquiry-form


