.titleBox {
  text-align: center;
  padding-top: 150px;
  width: 750px;
  margin: 0px auto 30px;
}

.mypage {
  display: flex;
  width: 750px;
  min-height: 750px;
  margin: 0px auto;
}
.mypageNav {
  margin-right: 50px;
  &__list {
    width: 150px;
    .mypageNav__list-item {
      display: flex;
      justify-content: space-between;
      .fas {
      }
    }
  }
}

.my {
  line-height: 50px;
}