.maincontent {
  padding-top: 150px;
  min-height: 500px;
  width: 900px;
  margin: 0px auto;
  display: flex;
  &__loginContent {
    width: 350px;
    height: 350px;
    border-right: solid #ccc 1px;
    padding: 0px 50px;
    .title {
      text-align: center;
    }
    .subtitle {
      margin-bottom: 25px;
      text-align: center;
    }
    .field {
      margin-bottom: 25px;
      &__form {
        width: 338px;
        height: 30px;
        padding-left: 10px;
        font-size: 12px;
        border: solid #ccc 1px;
        border-radius: 4px;
        outline: 0;
      }
    }
    .checkbox {
      font-size: 13px;
      padding-left: 10px;
    }
    .login {
      & :hover {
        opacity: 0.5;
      }
      &__btn {
        width: 350px;
        height: 30px;
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        & :hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__newCustomerContent {
    width: 350px;
    padding: 0px 50px;
    .title {
      text-align: center;
    }
    .subtitle {
      margin-bottom: 25px;
      text-align: center;
    }
    p {
      font-size: 13px;
    }
    .newCustomer{
      & :hover {
        opacity: 0.5;
      }
      &__btn {
        text-align: center;
        color: #000000;
        display: block;
        border: solid #000000 1px;
        border-radius: 4px;
        width: 348px;
        height: 28px;
      }
    }
  }
}
