= render "modules/header"

.titleBox
  %h2.title My Account
  %h3.subtitle (マイ アカウント)

%main.mypage
  = render "modules/sidebar"

  .mypageContent
    %ul
      .mypageContent__list
        %li
          =link_to "お気に入りリスト", "#", class: "listDetail"
      .mypageContent__list
        %li
          =link_to "ご注文履歴", "#", class: "listDetail"
        %p &ensp;ご注文内容の詳細や、配送状況の確認、再購入
      .mypageContent__list
        %li
          =link_to "お客様情報の確認・変更", "#", class: "listDetail"
        %p &ensp;メールアドレス・パスワードなどお客様情報の確認・変更
      .mypageContent__list
        %li
          =link_to "お届け先住所追加・変更", "#", class: "listDetail"
        %p &ensp;ご注文に便利な住所リストの追加・編集・削除
      .mypageContent__list
        %li
          =link_to "お問い合わせ", "#", class: "listDetail"
        %p &ensp;当ショップへの質問や商品についてのご質問

= render "modules/footer"